body {
    font-family:'lato',sans-serif;
    background-color: black;
    color: white;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* ---------The header---------- */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 150px;
}

.header-container  h1 {
    font-family: 'Playfair Display',serif;
    color: white;
    flex: 1;
    padding-top: 20px;
    font-size: 2.4rem;
    font-weight: 500;
    word-spacing: 1rem;
}

.header-container nav {
    flex: 1;
    width: 100%;
    max-width: 500px;
    padding-top: 20px;
}

.header-container nav ul {
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
    width: 100%;
    max-width: 500px;
    padding: 0 30px;
    list-style: none;

}

.header-container nav ul li {
    flex: 1;
    margin: 0;
    text-align: center;
}

.header-container nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}

/* -------The first section------ */

.hero {
    background-image: url('../images/milky-way.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 680px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 65px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 8px;

}

.hero h2 {
    font-size: 3rem;
    font-weight: 400;
}

.hero p {
    font-size: 1rem;
    /* word-spacing: 1px; */
    /* padding: 0 20px; */
}

.hero p:nth-child(3){
    margin-top: 20px;
    font-size: 1.1rem;
}

.hero p:nth-child(1) {
    word-spacing: 5px;
    font-weight: 600;
}
/* ----------The Second Section---------- */


.locals {
    padding-top: 30px;
    margin-bottom: 70px;
}

.locals h2 {
    font-size: 2.2rem;
    text-align: center;
    margin: 20px 30px;
    font-weight: 800;
}

.planets .sun {
    grid-area:sun;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .moon {
    grid-area:moon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .mercury {
    grid-area:mercury;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .mars{
    grid-area:mars;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.planets .venus{
    grid-area:venus;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .earth{
    grid-area:earth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.planets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sun"
    "mercury"
    "venus"
    "earth"
    "moon"
    "mars";
    justify-items: center;
    gap: 30px;

}

.planets div {
    gap: 20px;
}

.planets div img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.planets div p {
    font-size:1.5rem;
    font-weight: 800;
}

.planets div a {
    color: white;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
    padding: 3px 20px;
    background-color: rgb(135, 27, 149);
    border-radius: 50px;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 15px;
}




/* ----------The footer--------- */

.footer p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer {
    padding: 20px 20px;
    margin-top: 30px;
    /* border-top: 1px solid white; */
}