body {
    font-family:'lato',sans-serif;
    background-color: black;
    color: white;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    /* border-radius: 50px; */
    overflow: hidden; 
    position: relative; 
}

/* ---------The header---------- */

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 100px;
}

.header-container  h1 {
    font-family: 'Playfair Display',serif;
    color: white;
    flex: 1;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    word-spacing: 0.5rem;
}

.header-container nav {
    flex: 1;
    width: 100%;
    max-width: 500px;
    /* padding-top: 3px; */
}

.header-container nav ul {
    display: flex;
    flex-direction: row; 
    justify-content:space-around;
    width: 100%;
    max-width: 500px;
    padding: 0 10px;
    list-style: none;

}

.header-container nav ul li {
    flex: 1;
    margin: 0;
    text-align: center;
}

.header-container nav ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 4px 10px;  
    background-color: rgb(84, 118, 180); 
    border-radius: 25px; 
    border: none; 
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    transform-origin: center center; 
    /* line-height: 30px; */
    width: auto; 
    /* height: 30px; */
    line-height: 1;
}

.header-container nav ul li a:hover {
    background-color: rgb(56, 194, 194);
    transform: scale(1.1);
    font-size: 1rem;    
}

.stripe {
    position: relative; /* Anchors the positioning of the ::after element */
}

.stripe::after {
    position: absolute; 
    content: "";
    width: 100%; 
    height: 10px;  
    right: 0; 
    bottom: 10px; 
    background:  rgb(21, 91, 190);
    transform: scaleX(1.1);
    z-index: -1;
}


/* -------The first section------ */

.hero {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    height: 480px;
    text-align: center;
    
}

.hero img {
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 8s infinite ease-in-out alternate;

}

@keyframes zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5); /* Makes the image larger; will be cropped by overflow: hidden on .wrapper */
    }
}

.hero .hero-text {
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:0;
    gap: 4px;
}

.hero .hero-text h2 {
    font-size: 2rem;
    font-weight: 400;
}

/* .hero .hero-text h2 span { 
    font-weight: 600;
}*/

.hero .hero-text .colorshift {
    font-weight: 800;
    background: linear-gradient(90deg, rgb(22, 101, 197), rgb(109, 194, 194));
    background-size: 200% 100%;
    background-position: 0% 0%; 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    animation: textScroll 3s infinite alternate;
}    

@keyframes textScroll {
    from {
            background-position: 0% 0%; 
        }
    to {
            background-position: 100% 0%; 
        }
}
.hero .hero-text p {
    font-size: 0.5rem;
    /* word-spacing: 1px; */
    /* padding: 0 20px; */
}

.hero .hero-text p:nth-child(3){
    
    margin-top: 10px;
    font-size: 0.7rem;
    /* max-width: 180px; */
    /* text-align: center; */
}

.hero .hero-text p:nth-child(1) {
    word-spacing: 5px;
    font-weight: 600;
    font-size: 0.7rem;
}

/* ----------The Second Section---------- */


.locals {
    padding-top: 15px;
    margin-bottom: 35px;
}

.locals h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 15px;
    font-weight: 800;
}

.planets .sun {
    grid-area:sun;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .moon {
    grid-area:moon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .mercury {
    grid-area:mercury;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .mars{
    grid-area:mars;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.planets .venus{
    grid-area:venus;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.planets .earth{
    grid-area:earth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.planets {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sun"
    "mercury"
    "venus"
    "earth"
    "moon"
    "mars";
    justify-items: center;
    gap: 15px;

}

.planets div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.planets div img {
    width: 60%;
    height: auto;
    object-fit: cover;
}

.planets div p {
    font-size:0.75rem;
    font-weight: 800;
}

.planets div a {
    display: inline-block;
    color: white;
    text-decoration: none;
    max-width: 200px;
    padding: 1.5px 10px;
    background-color: rgb(135, 27, 149);
    border-radius: 50px;
    align-self: center;
    font-size: 0.6rem;
    font-weight: 700;
    margin: 0 15px;
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s ease;
    transform-origin: center;
    width: auto; 
    height: 20px; 

}

.planets div a:hover{
    background-color: aqua;
    transform: scale(1.1);
    font-size: 0.8rem;
}



/* ----------The footer--------- */

.footer p {
    text-align: center;
    font-size: 0.6rem;
    font-weight: 700;
}

.footer {
    padding: 10px 10px;
    margin-top: 30px;
    /* border-top: 1px solid white; */
}


@media (min-width: 500px) and (max-width: 900px) {
    .wrapper {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    
    /* ---------The header---------- */
    
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 900px;
        height: 100px;

    }
    
    .header-container  h1 {
        font-family: 'Playfair Display',serif;
        color: white;
        /* padding-top: 20px; */
        font-size: 1.5rem;
        font-weight: 500;
        word-spacing: 0.5rem;
        margin-top: -5px;

    }
    
    .header-container nav {
        /* flex: 1; */
        width: 100%;
        max-width: 350px;
        /* padding-top: 3px; */
    }
    
    .header-container nav ul {
        display: flex;
        flex-direction: row; 
        justify-content:space-between;
        width: 100%;
        max-width: 900px;
        padding: 0 10px;
        list-style: none;
    
    }
    
    .header-container nav ul li {
        flex: 1;
        margin: 0;
        text-align: center;
    }
    
    .header-container nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
    }
    
    /* -------The first section------ */
    
    .hero {
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        height: 450px;
        text-align: left;
        
    }
    
    .hero img {
        width: 100%;
        height: 100%; 
        object-fit: cover; 
        animation: zoom 8s infinite ease-in-out alternate;
    
    }
    
    @keyframes zoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.5); /* Makes the image larger; will be cropped by overflow: hidden on .wrapper */
        }
    }
    
    .hero .hero-text {
        /* position: absolute; 
        bottom: 10%;
        left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:0;
        gap: 4px;*/

        position: absolute;
        width: 50%;
        bottom: 10%;
        left: 30%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:0;
        gap: 4px;
    }
    
    .hero .hero-text h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    
    .hero .hero-text p {
        font-size: 0.5rem;
        /* word-spacing: 1px; */
        /* padding: 0 20px; */
    }

    .hero .hero-text .colorshift {
        font-weight: 800;
        background: linear-gradient(90deg, rgb(22, 101, 197), rgb(109, 194, 194));
        background-size: 200% 100%;
        background-position: 0% 0%; 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        animation: textScroll 3s infinite alternate;
    }

    @keyframes textScroll {
        from {
            background-position: 0% 0%; 
        }
        to {
            background-position: 100% 0%; 
        }
    }
    


    .hero .hero-text p:nth-child(3){
        
        margin-top: 10px;
        font-size: 0.8rem;
        /* max-width: 180px; */
        /* text-align: center; */
    }
    
    .hero .hero-text p:nth-child(1) {
        word-spacing: 5px;
        font-weight: 600;
    }
    
    /* ----------The Second Section---------- */
    
    
    .locals {
        padding-top: 15px;
        margin-bottom: 35px;
    }
    
    .locals h2 {
        font-size: 1.4rem;
        text-align: center;
        margin: 15px 15px;
        font-weight: 800;
    }
    
    .planets .sun {
        grid-area:sun;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .moon {
        grid-area:moon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .mercury {
        grid-area:mercury;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .mars{
        grid-area:mars;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }
    
    .planets .venus{
        grid-area:venus;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .earth{
        grid-area:earth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }
    
    .planets {
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-areas: 
        "sun mercury venus"
        "earth moon mars";
        justify-items: center;
        gap: 15px;
    
    }
    
    .planets div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    .planets div img {
        width: 80%;
        height: auto;
        object-fit: cover;
    }
    
    .planets div p {
        font-size:1rem;
        font-weight: 800;
    }
    
    .planets div a {
        color: white;
        text-decoration: none;
        display: inline-block;
        max-width: 200px;
        padding: 5px 10px;
        background-color: rgb(135, 27, 149);
        border-radius: 50px;
        align-self: center;
        font-size: 0.8rem;
        font-weight: 700;
        margin: 0 15px;
        height: auto;
    }
    
    
    
    
    /* ----------The footer--------- */
    
    .footer p {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .footer {
        padding: 20px 20px;
        margin: 10px;
        /* border-top: 1px solid white; */
    }
}

@media (min-width: 901px) {
    .wrapper {
        width: 50%;
        /* max-width: 500px; */
        margin: 0 auto;
        max-width: none;
    }
    
    /* ---------The header---------- */
    
    .header-container {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;
        width: 100%;
        /* max-width: 500px; */
        height: 70px;
        max-width: none;
        align-items: center;
    }
    
    .header-container  h1 {
        font-family: 'Playfair Display',serif;
        color: white;
        /* flex: 1; */
        padding-top: 0;
        font-size: 1.5rem;
        font-weight: 500;
        word-spacing: 0.5rem;
    }
    
    .header-container nav {
        /* flex: 1; */
        width: auto;
        max-width: 500px;
        /* padding-top: 3px; */
        /* margin-left: auto; */
        /* flex-grow: 0; */
        margin-right: 0;
    }
    
    .header-container nav ul {
        display: flex;
        flex-direction: row; 
        justify-content:space-between;
        padding-right: 0;
        width: 100%;
        margin-right: 0;
        /* max-width: 500px; */
        /* padding: 0 10px; */
        list-style: none;
        width: auto;
    
    }
    
    .header-container nav ul li {
        flex: 1; 
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        width: auto;
    }
    
    .header-container nav ul li a {
        display: flex; 
        align-items: center; 
        justify-content: center;
        width: auto; 
        padding: 5px 10px; 

        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 0.8rem;
    }

    .header-container nav ul li:last-child {
        margin-left: auto; 
    }
    
    /* -------The first section------ */
    
    .hero {
        
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        height: 500px;
        text-align: left;
        
    }
    
    .hero img {
        width: 100%;
        animation: zoom 8s infinite ease-in-out alternate;
    
    }
    
    @keyframes zoom {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.5); /* Makes the image larger; will be cropped by overflow: hidden on .wrapper */
        }
    }
    
    .hero .hero-text {
        position: absolute;
        width: 50%;
        bottom: 10%;
        left: 30%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding:0;
        gap: 4px;
    }
    
    .hero .hero-text h2 {
        font-size: 2rem;
        font-weight: 400;
    }

    .hero .hero-text h2 span {
        font-weight: 800;

    }

    .hero .hero-text .colorshift {
        background: linear-gradient(90deg, rgb(22, 101, 197), rgb(109, 194, 194));
        background-size: 200% 100%;
        background-position: 0% 0%; 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        animation: textScroll 3s infinite alternate;
    }

    @keyframes textScroll {
        from {
            background-position: 0% 0%; 
        }
        to {
            background-position: 100% 0%; 
        }
    }

    .hero .hero-text p {
        font-size: 0.8rem;
        /* word-spacing: 1px; */
        /* padding: 0 20px; */
    }
    
    .hero .hero-text p:nth-child(3){ 
        
        margin-top: 10px;
        font-size: 0.8rem;
        /* max-width: 180px; */
        /* text-align: center; */
    }
    
    .hero .hero-text p:nth-child(1) { 
        word-spacing: 5px;
        /* font-weight: 600; */
        font-size: 0.8rem;
    }

    /* ----------The Second Section---------- */
    
    
    .locals {
        padding-top: 15px;
        margin-bottom: 35px;
        width: 100%;
        gap: 20px;
    }
    
    .locals h2 {
        font-size: 1.5rem;
        text-align:left;
        margin: 10px 15px;
        font-weight: 800;
    }
    
    .planets .sun {
        grid-area:sun;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .moon {
        grid-area:moon;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .mercury {
        grid-area:mercury;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .mars{
        grid-area:mars;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }
    
    .planets .venus{
        grid-area:venus;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .planets .earth{
        grid-area:earth;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
    }
    
    .planets {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-areas: 
        "sun mercury venus earth moon mars";
        justify-items: center;
        gap: 15px;
    
    }
    
    .planets div {
        gap: 10px;
    }
    
    .planets div img {
        width: 80%;
        height: auto;
        object-fit: cover;
    }
    
    .planets div p {
        font-size:0.75rem;
        font-weight: 800;
    }
    
    .planets div a {
        color: white;
        text-decoration: none;
        display: inline-block;
        max-width: 200px;
        padding: 1.5px 10px;
        background-color: rgb(135, 27, 149);
        border-radius: 50px;
        align-self: center;
        font-size: 0.6rem;
        font-weight: 700;
        margin: 0 15px;
    }
    
    
    
    
    /* ----------The footer--------- */
    
    .footer p {
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
    }
    
    .footer {
        padding: 10px 10px;
        margin-top: 30px;
        /* border-top: 1px solid white; */
    }
    
}